@font-face {
    font-family: 'UnifrakturCook';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url(https://fonts.gstatic.com/s/unifrakturcook/v12/IurA6Yli8YOdcoky-0PTTdkm56n05Xwy1oM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/rubik/v11/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-B4iFV0U1.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
}

p, a {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-size: 2rem;
}

body {
    margin: 0;
    background: #000;
    background-size: cover;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

div.fashion {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: sticky;
    width: 100%;
    text-align: center;
    color: white;
    transition: .4s;
}

header:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

h1 {
    font-family: UnifrakturCook, sans-serif;
    text-align: center;
    font-size: 8vmin;
    width: 100%;
    letter-spacing: .5rem;
    color: white;
}

nav a {
    font-family: 'UnifrakturCook';
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    transition: color 1s;
    font-size: 2rem;
}

nav a:hover {
    color: red;
}

h2 {
    font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
    font-size: 8vmin;
    text-align: center;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    color: #fff;
    font-weight: 100;

}

ol {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    padding-bottom: 4rem;
    font-size: 2rem;
    line-height: 2.5;
    position: relative;
    text-align: center;
    list-style-position: inside;
}

img {
    width: 40vh;
    height: 35vh;
}

.contenido {
    /* -webkit-box-pack: center; */
    justify-content: center;
    /* -webkit-box-align: center; */
    align-items: center;
    height: 100vh;
    background: black;
    text-align: center;
}


.scene {
    width: 1000px;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    /* -webkit-box-pack: justify; */
    justify-content: space-between;
    /* -webkit-perspective: 800px; */
    perspective: 800px;
}

.scene .card {
    position: relative;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    /* -webkit-transition: 1s ease-in-out; */
    transition: 1s ease-in-out;
    /* -webkit-transform-style: preserve-3d; */
    transform-style: preserve-3d;
}

.scene .card:hover {
    /* -webkit-transform: rotateY(0.5turn); */
    transform: rotateY(0.5turn);
}

.scene .card .card__face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* -webkit-backface-visibility: hidden; */
    backface-visibility: hidden;
    /* -webkit-transition: 1s ease-in-out; */
    transition: 1s ease-in-out;
    /* -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4)); */
}

.scene .card .card__face img {
    width: 240px;
    height: 300px;
    /* -o-object-fit: cover; */
    object-fit: cover;
}

.scene .card .card__face--back {
    /* -webkit-transform: rotateY(0.5turn); */
    transform: rotateY(0.5turn);
}

.scene .card .details {
    padding: 20px;
    float: right;
    width: calc(70% - 40px);
    position: absolute;
    bottom: 0;
}